<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApplication"
        tools:targetApi="31">
        <activity
            android:name=".TreningSilowyActivity"
            android:exported="false" />
        <activity
            android:name=".TrenningsActivity"
            android:exported="false" />
        <activity
            android:name=".TreningActivity"
            android:exported="false" />
        <activity
            android:name=".YourDataActivity"
            android:exported="false" />
        <activity
            android:name=".AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".LoyaltyActivity"
            android:exported="false" />
        <activity
            android:name=".DieticianActivity"
            android:exported="false" />
        <activity
            android:name=".TrenerActivity"
            android:exported="false" />
        <activity
            android:name=".SuccesActivity"
            android:exported="false" />
        <activity
            android:name=".PassesActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
        <activity
            android:name=".nav_menu"
            android:exported="false"
            android:label="@string/title_activity_nav_menu"
            android:theme="@style/Theme.LoginApplication.NoActionBar" />
        <activity
            android:name=".ui.nav_menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
    </application>

</manifest>